# E203 whitespace before ':'
# E302 expected 2 blank lines, found 1
# E305 expected 2 blank lines after class or function definition
# E402 module level import not at top of file
# W503 line break before binary operator
# W605 invalid escape sequence
# E731 do not assign a lambda expression
[flake8]
ignore = E203,E302,E305,E402,W503,W605,E731
exclude = .git,.venv,example
max-line-length = 250
